<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.panpf.sketch.test">

    <!-- API 16 required, otherwise your own data directory cannot be written -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".utils.TestActivity" />
        <activity android:name=".ImageViewExtensionsTest$TestActivity" />
    </application>
</manifest>
