# built application files
#*.apk
*.ap_
proguard_logs/

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
#.classpath
#.project
#.settings/
bin/
gen/

# Idea files
.idea/
*.iml

# Gradle files
.gradle/
build/

# Mac files
.DS_Store

# coustom files
change log.txt
to-do list.txt
