# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
#.classpath
#.project
#.settings/
bin/
gen/

# Idea files
.idea/

# Gradle files
.gradle/
build/