# built application files
#*.apk
*.ap_
proguard_logs/

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
#.classpath
#.project
#.settings/
bin/
gen/

# Idea files
.idea/
*.iml

# Gradle files
.gradle/
build/

# Mac files
.DS_Store

captures/
*.hprof

*.jks

kotlin-js-store/yarn.lock
sample/webpack.config.d/

# The files in this folder are automatically copied from the internal:images module, so there is no need to submit them.
# For details, see the configuration in sample/build.gradle.kts
sample/src/jsCommonMain/compose_resources/