<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xiaoapn.android.imageloader"
    android:versionCode="231"
    android:versionName="2.3.1" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="me.xiaopan.android.imageloader.sample.MyApplication" >
        <activity android:name="me.xiaopan.android.imageloader.sample.activity.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.xiaopan.android.imageloader.sample.activity.DownloadActivity" android:label="@string/activity_titel_download"/>
        <activity android:name="me.xiaopan.android.imageloader.sample.activity.LoadActivity" android:label="@string/activity_titel_load"/>
        <activity android:name="me.xiaopan.android.imageloader.sample.activity.DisplayActivity" android:label="@string/activity_titel_display"/>
        <activity android:name="me.xiaopan.android.imageloader.sample.activity.NormalActivity" android:label="@string/app_name"/>
    </application>
</manifest>
